<!-- OVERLAY -->
<div
  *ngIf="abrirModal"
  class="fixed inset-0 bg-black/40 z-50 overflow-y-auto transition-opacity duration-150 px-4 pt-16"
  [class.opacity-100]="animarModal"
  [class.opacity-0]="!animarModal"
>
  <!-- MODAL -->
  <div
    class="bg-white w-full max-w-2xl mx-auto rounded-lg shadow-xl border border-gray-200 transform transition-all duration-150 ease-out"
    [ngClass]="{
      'opacity-100 translate-y-0': animarModal,
      'opacity-0 translate-y-1': !animarModal
    }"
  >
    <!-- HEADER -->
    <div class="px-6 py-4 border-b-gray-300 border-b">
      <div class="flex items-center justify-between">
        <h5 class="text-base font-semibold text-gray-800">Registrar Usuario</h5>
        <button
          (click)="cerrarModal()"
          class="text-gray-400 hover:text-gray-600 transition cursor-pointer"
        >
          <span class="material-icons text-[20px]">close</span>
        </button>
      </div>
      <div class="text-sm text-gray-600">
        <p>Complete los datos personales del usuario que tendrá acceso al sistema.</p>
      </div>
    </div>

    <div class="px-6 py-4 text-sm text-gray-700">
      <!-- GRID FORM -->
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
        <!-- TIPO DOCUMENTO -->
        <div>
          <label class="block text-xs font-medium text-gray-600 mb-1">
            Tipo de documento
          </label>
          <div class="relative">
            <span
              class="material-icons absolute left-3 top-1 text-gray-400 text-[18px]"
            >
              badge
            </span>
            <select
              [(ngModel)]="tipoDocumento"
              (change)="onTipoDocumentoChange()"
              [disabled]="idReserva!==0 && linkPago !==''"
              name="tipoDocumento"
              class="w-full pl-10 pr-3 py-1.5 text-sm rounded-md border border-gray-300 focus:ring-1 focus:outline-none focus:ring-blue-500 focus:border-blue-500 transition"
              [ngClass]="idReserva!==0 && linkPago !=='' ? 'bg-gray-100' : ''"
            >
              <option value="01">DNI</option>
              <option value="04">C/E</option>
            </select>
          </div>
        </div>

        <!-- NUMERO DOCUMENTO -->
        <div>
          <label class="block text-xs font-medium text-gray-600 mb-1">
            Número de documento
          </label>
          <div class="relative">
            <span
              class="material-icons absolute left-3 top-1 text-gray-400 text-[18px]"
            >
              credit_card
            </span>
            <input
              type="text"
              placeholder="07336433"
              [(ngModel)]="numeroDocumento"
              [attr.maxlength]="maxLength"
              (input)="onNumeroDocumentoInput($event)"
              [disabled]="idReserva!==0 && linkPago !==''"
              [ngClass]="idReserva!==0 && linkPago !=='' ? 'bg-gray-100' : ''"
              name="numeroDocumento"
              class="w-full pl-10 pr-3 py-1.5 text-sm rounded-md border border-gray-300 focus:ring-1 focus:outline-none focus:ring-blue-500 focus:border-blue-500 transition"
            />
          </div>
        </div>

        <!-- TELÉFONO -->
        <div>
          <label class="block text-xs font-medium text-gray-600 mb-1">
            Teléfono
          </label>
          <div class="relative">
            <span
              class="material-icons absolute left-3 top-1 text-gray-400 text-[18px]"
            >
              phone
            </span>
            <input
              [(ngModel)]="telefono"
              (input)="onNumeroTelefonoInput($event)"
              [disabled]="idReserva!==0 && linkPago !==''"
              [ngClass]="idReserva!==0 && linkPago !=='' ? 'bg-gray-100' : ''"
              name="telefono"
              type="text"
              placeholder="999333416"
              class="w-full pl-10 pr-3 py-1.5 text-sm rounded-md border border-gray-300 focus:ring-1 focus:outline-none focus:ring-blue-500 focus:border-blue-500 transition"
            />
          </div>
        </div>

        <!-- NOMBRE -->
        <div>
          <label class="block text-xs font-medium text-gray-600 mb-1">
            Nombres
          </label>
          <input
            type="text"
            placeholder="Silvia"
            [(ngModel)]="nombre"
            [disabled]="idReserva!==0 && linkPago !==''"
            [ngClass]="idReserva!==0 && linkPago !=='' ? 'bg-gray-100' : ''"
            name="nombre"
            class="w-full px-3 py-1.5 text-sm rounded-md border border-gray-300 focus:ring-1 focus:outline-none focus:ring-blue-500 focus:border-blue-500 transition"
          />
        </div>

        <!-- APELLIDO PATERNO -->
        <div>
          <label class="block text-xs font-medium text-gray-600 mb-1">
            Apellido paterno
          </label>
          <input
            type="text"
            [(ngModel)]="paterno"
            [disabled]="idReserva!==0 && linkPago !==''"
            [ngClass]="idReserva!==0 && linkPago !=='' ? 'bg-gray-100' : ''"
            name="paterno"
            placeholder="Silva"
            class="w-full px-3 py-1.5 text-sm rounded-md border border-gray-300 focus:ring-1 focus:outline-none focus:ring-blue-500 focus:border-blue-500 transition"
          />
        </div>

        <!-- APELLIDO MATERNO -->
        <div>
          <label class="block text-xs font-medium text-gray-600 mb-1">
            Apellido materno
          </label>
          <input
            type="text"
            [(ngModel)]="materno"
            [disabled]="idReserva!==0 && linkPago !==''"
            [ngClass]="idReserva!==0 && linkPago !=='' ? 'bg-gray-100' : ''"
            name="materno"
            placeholder="Arrellano"
            class="w-full px-3 py-1.5 text-sm rounded-md border border-gray-300 focus:ring-1 focus:outline-none focus:ring-blue-500 focus:border-blue-500 transition"
          />
        </div>

        <!-- CORREO -->
        <div class="md:col-span-2 lg:col-span-3">
          <label class="block text-xs font-medium text-gray-600 mb-1">
            Correo electrónico
          </label>
          <div class="relative">
            <span
              class="material-icons absolute left-3 top-1 text-gray-400 text-[18px]"
            >
              mail
            </span>
            <input
              type="email"
              [(ngModel)]="correo"
              [disabled]="idReserva!==0 && linkPago !==''"
              [ngClass]="idReserva!==0 && linkPago !=='' ? 'bg-gray-100' : ''"
              name="correo"
              placeholder="felixjsa@gmail.com"
              class="w-full pl-10 pr-3 py-1.5 text-sm rounded-md border border-gray-300 focus:ring-1 focus:outline-none focus:ring-blue-500 focus:border-blue-500 transition"
            />
          </div>
        </div>
        
        <!-- link de pago  -->
        <div class="md:col-span-2 lg:col-span-3" *ngIf="linkPago!==''">
          <label class="block text-xs font-medium text-gray-600 mb-1">
            Link de pago generado
          </label>
          <div class="relative">
            <span
              class="material-icons absolute left-3 top-1 text-white text-[18px]"
            >
              link
            </span>
            <input
              type="text"
              [value]="linkPago"
              readonly
              class="w-full pl-10 pr-3 py-1.5 text-sm rounded-md border border-gray-300 focus:ring-1 focus:outline-none focus:ring-blue-500 focus:border-blue-500 transition bg-red-400 text-white"
            />
           <span class="text-gray-400 text-[12px] ">Copiar link de pago y enviarlo al administrado para que pueda realizar el pago.</span>
          </div>
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <div
      class="flex justify-end gap-3 px-6 py-4 border-t-gray-300 border-t bg-gray-50"
    >
      <button
        (click)="cerrarModal()"
        class="px-4 py-2 text-sm rounded-md bg-gray-200 hover:bg-gray-300 text-gray-700 transition cursor-pointer"
      >
        Cerrar
      </button>

      <button
        (click)="RegistrarComplejoAdmin()"
        *ngIf="idReserva==0 && linkPago ==''"
        class="px-4 py-2 text-sm rounded-md bg-blue-600 hover:bg-blue-700 text-white transition cursor-pointer"
      >
        Guardar
      </button>
    </div>
  </div>
</div>

<app-loading *ngIf="isLoading"></app-loading>
<app-message #msg></app-message>

